
input[type=submit] {
    visibility: collapse;
    
}

input {
    padding-left: 30px;
    font-size: 25px;
    width: 100vw;
    height: 100px;
    border: 0;
    font-family: 'Bahnschrift', sans-serif;
    outline: none;
}

.attachment span {
    font-size: 40px;
    color: rgb(162, 162, 162); 
    padding-right: 20px;
    padding-top: 5px;
}

.message_input .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
    border: 0;
}


html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    font-size: 15px;
    font-family: 'Bahnschrift', sans-serif;
}
.chat {
    display: flex;
    height: calc(100vh - 210px);
    background-color: rgb(245, 245, 245);
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;

}

.message_text{
    display: flex;
    font-size: 17px;
}

.sending_time {
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 0px 0px;
    color: rgb(127, 120, 128);
    font-size: 70%;
}

.message {
    display: flex;
    align-self: flex-start; 
    flex-direction: column;
    background-color: #ffffff;
    max-width: 70%;
    min-width: 8%;
    word-wrap: break-word;
    padding: 0px 6px 0px 5px; 
    margin: .2em;  
    animation: smooth_appearance  2s; 
    animation-fill-mode: forwards;

}

@keyframes smooth_appearance {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    70% {
      opacity: 0;
      transform: scale(0);
    }
    75% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }


.message-left {
    background-color: #ffffff;
    margin: 5px 5px 5px 10px;
    border-bottom-left-radius: 0; 
}

.message-right {
    background-color: rgb(241, 229, 244);
    margin: 5px 7px 5px auto;
    border-bottom-right-radius: 0; 
}

.status span {
    color: rgb(145, 67, 174);
    font-size: 20px;
}

.message_metadata {
    display: flex;
    justify-content: flex-end;
    margin-top: -17px;
}


.header {
    color: #ffffff;
    background-color: #8E24AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 110px;
    line-height: 15px;   
}

.material-icons {
    font-size: 60px;
}

.arrow_back {
    color: white;
    background-color: #8E24AA;
    padding-left: 20px;
}

.user_avatar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: #fcf9fd;
    font-size: 30px;
    margin: 15px 0;
}

.latest_activity {
    color: #c590d4;
    font-size: 19.5px;
    margin: 0;
}

.user_avatar img {
    margin-right: 20px;
    font-size: 95px;
}

.user_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px; 
}

.more_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 200px;
    padding-right: 40px;
}

.search {
    color: white;
    background-color: #8e24aa;  
}

.menu{
    color: white;
    background-color: #8e24aa;  
}

.menu:active {
    color:red;
    transition: 1s;
    animation: blinker 1s linear;
}

.search span:active {
    color:red;
    transition: 1s;
    animation: blinker 1s linear;
}

.arrow_back span:active {
    color:red;
    transition: 1s;
    animation: blinker 1s linear;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}
